<app-header></app-header>
<!-- ========= Header Close ========== -->

<div class="profile-banner">
    <div class="py-5 relative">
        <div class="profile-section mt-5">
            <div class="profile-details">
                <div class="container">
                    <ul class="nav nav-tabs property-tabs p-4 border-0 align-items-center" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="booked_prp" data-toggle="tab" href="#bookedproperty"
                                role="tab" aria-controls="home" aria-selected="true">Furniture</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="my_prop" data-toggle="tab" href="#myProperty" role="tab"
                                aria-controls="profile" aria-selected="false">Cleaning</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content mt-5 properties-wrp" id="myTabContent">
                    <div class="tab-pane fade show active" id="bookedproperty" role="tabpanel"
                        aria-labelledby="booked_prp">
                        <div class="container-fluid">
                            <div class="row justify-content-end">
                                <div class="col-lg-11 slider_padding">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <a routerLink="/new-request-payment">
                                                <div class="servicebox purple_box p-4">
                                                    <div class="d-flex align-items-center">
                                                        <p class="mb-0 slivertag">Silver</p>
                                                        <a href="javascript:void(0);"
                                                            class="text-white font-16 ml-auto addlable">+</a>
                                                    </div>
                                                    <div class="serviceimg">
                                                        <img src="assets/images/products/img_sofa1.png"
                                                            class="img-fluid d-block mx-auto">
                                                    </div>
                                                    <div class="service-details pt-4">
                                                        <div class="row">
                                                            <div class="col-7">
                                                                <h5 class="box-title brand-color mb-1">Circle Sofa</h5>
                                                                <p class="regular-text-dark">It is a long established
                                                                    fact
                                                                    that
                                                                    a reader</p>
                                                            </div>
                                                            <div class="col-5 pl-0">
                                                                <p class="regular-text-dark font-w-600 mb-1">$100 per
                                                                    month
                                                                </p>
                                                                <p class="regular-text-dark font-w-600 mb-0">$10 per day
                                                                </p>
                                                                <span class="font-12 font-w-600">(in case your stay
                                                                    exceeds)</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="servicebox blue_box p-4">
                                                <div class="d-flex align-items-center">
                                                    <p class="mb-0 goldtag">Gold</p>
                                                    <a href="javascript:void(0);"
                                                        class="text-white font-16 ml-auto addlable">+</a>
                                                </div>
                                                <div class="serviceimg">
                                                    <img src="assets/images/products/img_sofa1.png"
                                                        class="img-fluid d-block mx-auto">
                                                </div>
                                                <div class="service-details pt-4">
                                                    <div class="row">
                                                        <div class="col-7">
                                                            <h5 class="box-title brand-color mb-1">Circle Sofa</h5>
                                                            <p class="regular-text-dark">It is a long established fact
                                                                that
                                                                a reader</p>
                                                        </div>
                                                        <div class="col-5 pl-0">
                                                            <p class="regular-text-dark font-w-600 mb-1">$100 per month
                                                            </p>
                                                            <p class="regular-text-dark font-w-600 mb-0">$10 per day</p>
                                                            <span class="font-12 font-w-600">(in case your stay
                                                                exceeds)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="servicebox pink_box p-4">
                                                <div class="d-flex align-items-center">
                                                    <p class="mb-0 goldtag">Gold</p>
                                                    <a href="javascript:void(0);"
                                                        class="text-white font-16 ml-auto addlable">+</a>
                                                </div>
                                                <div class="serviceimg">
                                                    <img src="assets/images/products/img_sofa1.png"
                                                        class="img-fluid d-block mx-auto">
                                                </div>
                                                <div class="service-details pt-4">
                                                    <div class="row">
                                                        <div class="col-7">
                                                            <h5 class="box-title brand-color mb-1">Circle Sofa</h5>
                                                            <p class="regular-text-dark">It is a long established fact
                                                                that
                                                                a reader</p>
                                                        </div>
                                                        <div class="col-5 pl-0">
                                                            <p class="regular-text-dark font-w-600 mb-1">$100 per month
                                                            </p>
                                                            <p class="regular-text-dark font-w-600 mb-0">$10 per day</p>
                                                            <span class="font-12 font-w-600">(in case your stay
                                                                exceeds)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Box close -->
                    </div>
                    <div class="tab-pane fade" id="myProperty" role="tabpanel" aria-labelledby="my_prop">
                        <div class="container-fluid">
                            <div class="row justify-content-end">
                                <div class="col-lg-11 slider_padding">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="servicebox purple_box p-4">
                                                <div class="serviceimg">
                                                    <img src="assets/images/products/ic_broom_home_details.png"
                                                        class="img-fluid d-block mx-auto">
                                                </div>
                                                <div class="service-details pt-4">
                                                    <div class="row">
                                                        <div class="col-7">
                                                            <h5 class="box-title brand-color mb-1">Sweeping</h5>
                                                            <p class="regular-text-dark">It is a long established fact
                                                                that
                                                                a reader</p>
                                                        </div>
                                                        <div class="col-5 pl-0">
                                                            <p class="regular-text-dark font-w-600 mb-1 text-right">$100
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="servicebox blue_box p-4">
                                                <div class="serviceimg">
                                                    <img src="assets/images/products/ic_cleaning_home_details.png"
                                                        class="img-fluid d-block mx-auto">
                                                </div>
                                                <div class="service-details pt-4">
                                                    <div class="row">
                                                        <div class="col-7">
                                                            <h5 class="box-title brand-color mb-1">Dusting</h5>
                                                            <p class="regular-text-dark">It is a long established fact
                                                                that
                                                                a reader</p>
                                                        </div>
                                                        <div class="col-5 pl-0">
                                                            <p class="regular-text-dark font-w-600 mb-1 text-right">$145
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>