<footer class="footer py-lg-4">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <a href="#"><img src="assets/images/druyp_white_logo.png" class="img-fluid"></a>
                <p class="regular-text-white text-justify pt-4">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                    roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                </p>
            </div>
            <div class="col-lg-2 col-md-6 pl-xl-5">
                <h5 class="text-white">Dryup</h5>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="index.html">Get A Choice</a></li>
                    <li><a href="index.html">Download</a></li>
                    <li><a href="index.html">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white">Host</h5>
                <ul>
                    <li><a href="index.html">House Owner</a></li>
                    <li><a href="index.html">Furniture Company</a></li>
                    <li><a href="index.html">Cleaning Company</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white">Other Link</h5>
                <ul>
                    <li><a href="index.html">About</a></li>
                    <li><a href="index.html">Terms & Condition</a></li>
                    <li><a href="index.html">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white">Address</h5>
                <p class="regular-text-white mb-1">1230 W Court St, Kankakee, IL 60901 |</p>
                <p class="regular-text-white mb-1">Office Phone: <br/> <a href="tel:(815) 929-9292" target="top">(815) 929-9292 |</a></p>
                <p class="regular-text-white mb-0">Fax: (217) 443-4545</p>
            </div>
        </div>
        <p class="regular-text-white text-center mt-5 mb-0">
            &copy; Powered Designed By Consagous All Right Reserved
        </p>
    </div>
</footer>