<app-header></app-header>
<!-- ========= Header Close ========== -->

<section class="contentSections recieved-order-detail">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6">
                <div class="product-image p-4">
                    <img src="assets/images/products/img_sofa3.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="row">
                    <div class="col-8"><h4 class="content-subheading brand-color mb-0">Order #1231423</h4></div>
                    <div class="col-4"><p class="font-20 regular-text-dark mb-0 text-right">30 July 2020</p></div>
                </div>
                <p class="font-w-300 font-20 regular-text-dark mt-4">Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                    galley of type and scrambled it to make a type specimen book.
                </p>
                <p class="regular-text-light">4.3 <i class="fas fa-star brand-yellow ml-2"></i></p>
                <div class="border-top border-bottom py-3 mt-4">
                    <p class="font-20 regular-text-light"><span class="brand-dark">Phone/Email:</span> +1 444 2502 1234</p>
                    <p class="font-20 regular-text-light mb-0"><span class="brand-dark">Address:</span> 22 Baker Street,London , UK</p>
                </div>

                <h5 class="box-title mt-4">Cancel Reason</h5>
                <div class="reasonbox border p-3 mt-2">
                    <p class="regular-text-dark mb-0">Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div class="footbtn mt-4">
                    <button type="button" class="btn btn-brandred w-100">Order Completed</button>
                </div>
            </div>
        </div>
    </div>
</section>