<app-header></app-header>
<!-- ========= Header Close ========== -->
<!-- ======== Content Sections ======= -->
<section class="contentSections product-images-gallery">
    <div class="container py-5">
        <h4 class="content-subheading mb-3">Terms & Conditions</h4>
        <div class="privacy-content">
            <p class="font-w-300 font-20 regular-text-dark mt-4">Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
                the 1960s with the release of
            </p>
            <p class="font-w-300 font-20 regular-text-dark mt-4">Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
                the 1960s with the release of
            </p>
            <p class="font-w-300 font-20 regular-text-dark mt-4">Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book.
            </p>
            <p class="font-w-300 font-20 regular-text-dark mt-4">Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
                the 1960s with the release of
            </p>
            <ul class="terms-list">
                <li>
                    <p class="font-w-300 font-20 regular-text-dark mt-4">Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry.</p>
                </li>
                <li>
                    <p class="font-w-300 font-20 regular-text-dark mt-4">Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry.</p>
                </li>
                <li>
                    <p class="font-w-300 font-20 regular-text-dark mt-4">Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry.</p>
                </li>
                <li>
                    <p class="font-w-300 font-20 regular-text-dark mt-4">Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry.</p>
                </li>
                <li>
                    <p class="font-w-300 font-20 regular-text-dark mt-4">Lorem Ipsum is simply dummy text of the
                        printing and typesetting industry.</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- Gallery section close -->