<app-header></app-header>
<!-- ========= Header Close ========== -->

<div class="profile-banner">
    <div class="container py-5 relative">
        <div class="row profile-head">
            <div class="col-4">
                <h4 class="content-subheading text-capitalize text-white mb-0">My Account</h4>
            </div>
        </div>

        <div class="profile-section mt-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="profile-options p-4">
                        <div class="profile-image">
                            <img src="assets/images/pictures/profile_1.jpg" class="img-fluid">
                            <input type="file" class="chnageprofile" hidden id="userPofilepic"
                                (change)="getProfilePic($event);">
                            <button type="button" class="editprofile" data-file="userPofilepic"
                                (click)="triggerFileInput($event)"><img src="assets/images/icons/pencil_white.png"
                                    class="img-fluid" data-file="userPofilepic"></button>
                        </div>
                        <ul class="options mt-5 mb-3">
                            <li><a routerLink="/profile" class="d-flex align-items-center"><span
                                        class="userico mr-3"></span> Profile</a></li>
                            <li><a routerLink="/my-orders" class="d-flex align-items-center"><span
                                        class="propertyico mr-3"></span> My Order</a></li>
                            <li><a routerLink="/add-furniture" class="active d-flex align-items-center"><span
                                        class="propertyico mr-3"></span> Add Furniture</a></li>
                            <li><a routerLink="" class="d-flex align-items-center"><span class="logoutico mr-3"></span>
                                    Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 mt-5 mt-lg-0">
                    <div class="profile-details add-furniture-sec">
                        <form [formGroup]="addFurnitures">
                            <div class="details p-4">
                                <div class="row">
                                    <div class="col-9 col-sm-10">
                                        <h4 class="content-subheading font-w-600 mb-2">Add Furniture Package</h4>
                                    </div>
                                    <div class="col-3 col-sm-2">
                                        <button type="button" class="editprofile-details d-block ml-auto"><img
                                                src="assets/images/icons/pencil_blue.png" class="img-fluid"></button>
                                    </div>
                                </div>

                                <ul class="mt-4">
                                    <li class="row border-bottom py-3 px-2">
                                        <div class="col-md-4">
                                            <h5 class="title mb-0 font-w-300">Select Type</h5>
                                        </div>
                                        <div class="col-md-8 mt-3 mt-md-0">
                                            <div class="form-group mb-0">
                                                <select class="form-control without-border">
                                                    <option>Sofa</option>
                                                    <option>Sofa</option>
                                                    <option>Sofa</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="row border-bottom py-3 px-2">
                                        <div class="col-md-4">
                                            <h5 class="title mb-0 font-w-300">Select Furniture Category</h5>
                                        </div>
                                        <div class="col-md-8 mt-3 mt-md-0">
                                            <div class="form-group mb-0">
                                                <select class="form-control without-border">
                                                    <option>Silver</option>
                                                    <option>Gold</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="row border-bottom py-3 px-2">
                                        <div class="col-md-4">
                                            <h5 class="title mb-0 font-w-300">Add Title</h5>
                                        </div>
                                        <div class="col-md-8 mt-3 mt-md-0">
                                            <div class="form-group mb-0">
                                                <input type="text" class="form-control without-border" value="Sweeping">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="row border-bottom py-3 px-2">
                                        <div class="col-md-4">
                                            <h5 class="title mb-0 font-w-300">Add Price</h5>
                                        </div>
                                        <div class="col-md-8 mt-3 mt-md-0">
                                            <div class="form-group mb-0">
                                                <input type="text" class="form-control without-border" value="$ 166.50">
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                            <div class="form-group add-description">
                                <p class="font-20 mb-3 mt-5 brand-color">Add Description</p>
                                <textarea class="form-control" placeholder="Write here"></textarea>
                            </div>
                            <div class="form-group add-description">
                                <p class="font-20 mb-3 mt-5 brand-color">Add Photos (upto 5)</p>
                                <div class="d-flex flex-wrap imagebox">
                                    <div class="uploaded-image p-3">
                                        <img src="assets/images/products/img_sofa1.png" class="img-fluid">
                                    </div>
                                    <div class="uploaded-image p-3">
                                        <img src="assets/images/products/img_sofa2.png" class="img-fluid">
                                    </div>
                                    <div class="uploaded-image p-3">
                                        <img src="assets/images/products/img_sofa3.png" class="img-fluid">
                                    </div>
                                    <div class="uploadimage-btn">
                                        <input type="file" class="inputfile">
                                        <label class="fileuploadlable"><img src="assets/images/icons/ic_plus_big@2x.svg" class="img-fluid" width="50"></label>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-brandcolor mt-4">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>