<app-header></app-header>
<!-- ========= Header Close ========== -->

<!-- ======== Content Sections ======= -->

<section class="contentSections product-images-gallery">
    <div class="container pt-5">
        <div class="row">
            <div class="col-8">
                <h4 class="content-subheading mb-0">Little white house 431 India St, London, UK</h4>
                <p class="regular-text-dark mb-0 features mt-2">4 bd <span>/</span> 3 ba
                    <span>/</span> 1470 sqft <span>/</span></p>
            </div>
            <div class="col-4">
                <h4 class="content-subheading brand-color mb-0 text-right">1850 <small class="font-13 text-lowercase">/
                        mo</small></h4>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="big_imgbox">
                    <img src="assets/images/pictures/img_home_details.png" class="img-fluid">
                </div>
            </div>
        </div>

        <!-- Details -->
        <div class="product-description py-4 mt-3">
            <h4 class="content-subheading">Property Details</h4>
            <p class="regular-text-dark">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                in
                a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                Latin
                professor at Hampden-Sydney College in Virginia,</p>
            <p class="regular-text-dark">looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
                passage, and going through the cites of the word in classical literature, discovered the undoubtable
                source.
                Lorem Ipsum comes from sections 1.</p>
        </div>

        <!-- Estimated Arrival Time -->
        <div class="py-4">
            <h4 class="content-subheading">Estimated Arrival Time</h4>
            <div class="row">
                <div class="col-md-6">
                    <mat-calendar #calendar [(selected)]="selectedDate">
                    </mat-calendar>
                </div>
                <div class="col-md-6 pl-md-5 mt-4 mt-md-0">
                    <h4 class="content-subheading mb-4 text-center">Time Slot</h4>
                    <div class="d-flex flex-wrap timeslots justify-content-center justify-content-md-end">
                        <div class="radiotype-btn">
                            <input type="radio" class="customradio" name="timeslot">
                            <label>9:00 am</label>
                        </div>
                        <div class="radiotype-btn">
                            <input type="radio" class="customradio" name="timeslot">
                            <label>9:30 am</label>
                        </div>
                        <div class="radiotype-btn">
                            <input type="radio" class="customradio" name="timeslot">
                            <label>10:00 am</label>
                        </div>
                        <div class="radiotype-btn">
                            <input type="radio" class="customradio" name="timeslot">
                            <label>10:30 am</label>
                        </div>
                        <div class="radiotype-btn">
                            <input type="radio" class="customradio" name="timeslot">
                            <label>11:00 am</label>
                        </div>
                        <div class="radiotype-btn">
                            <input type="radio" class="customradio" name="timeslot">
                            <label>11:30 am</label>
                        </div>
                        <div class="radiotype-btn">
                            <input type="radio" class="customradio" name="timeslot">
                            <label>12:00 pm</label>
                        </div>
                        <div class="radiotype-btn">
                            <input type="radio" class="customradio" name="timeslot">
                            <label>12:20 pm</label>
                        </div>
                        <div class="radiotype-btn">
                            <input type="radio" class="customradio" name="timeslot">
                            <label>1:00 pm</label>
                        </div>
                        <div class="radiotype-btn">
                            <input type="radio" class="customradio" name="timeslot">
                            <label>1:30 pm</label>
                        </div>
                        <div class="radiotype-btn">
                            <input type="radio" class="customradio" name="timeslot">
                            <label>2:00 pm</label>
                        </div>
                        <div class="radiotype-btn">
                            <input type="radio" class="customradio" name="timeslot">
                            <label>2:30 pm</label>
                        </div>
                        <div class="radiotype-btn">
                            <input type="radio" class="customradio" name="timeslot">
                            <label>3:00 pm</label>
                        </div>
                        <div class="radiotype-btn">
                            <input type="radio" class="customradio" name="timeslot">
                            <label>3:30 pm</label>
                        </div>
                        <div class="radiotype-btn">
                            <input type="radio" class="customradio" name="timeslot">
                            <label>4:00 pm</label>
                        </div>
                        <div class="radiotype-btn">
                            <input type="radio" class="customradio" name="timeslot">
                            <label>4:30 pm</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Gallery section close -->

<!-- =========  Services Section  ========= -->

<section class="contentSections addition-services">
    <div class="container pt-5 pb-4">
        <div class="content-head">
            <h3 class="heading-centered">Add Furniture Services</h3>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-lg-11">
                <!-- <div class="row">
                    <div class="col-lg-4">
                        <div class="servicebox purple_box p-4">
                            <div class="d-flex align-items-center">
                                <p class="mb-0 slivertag">Silver</p>
                                <a href="javascript:void(0);" class="text-white font-16 ml-auto addlable">+</a>
                            </div>
                            <div class="serviceimg">
                                <img src="assets/images/products/img_sofa1.png" class="img-fluid d-block mx-auto">
                            </div>
                            <div class="service-details pt-4">
                                <div class="row">
                                    <div class="col-7">
                                        <h5 class="box-title brand-color mb-1">Circle Sofa</h5>
                                        <p class="regular-text-dark">It is a long established fact that a reader</p>
                                    </div>
                                    <div class="col-5 pl-0">
                                        <p class="regular-text-dark font-w-600 mb-1">$100 per month</p>
                                        <p class="regular-text-dark font-w-600 mb-0">$10 per day</p>
                                        <span class="font-12 font-w-600">(in case your stay exceeds)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="servicebox blue_box p-4">
                            <div class="d-flex align-items-center">
                                <p class="mb-0 goldtag">Gold</p>
                                <a href="javascript:void(0);" class="text-white font-16 ml-auto addlable">+</a>
                            </div>
                            <div class="serviceimg">
                                <img src="assets/images/products/img_sofa1.png" class="img-fluid d-block mx-auto">
                            </div>
                            <div class="service-details pt-4">
                                <div class="row">
                                    <div class="col-7">
                                        <h5 class="box-title brand-color mb-1">Circle Sofa</h5>
                                        <p class="regular-text-dark">It is a long established fact that a reader</p>
                                    </div>
                                    <div class="col-5 pl-0">
                                        <p class="regular-text-dark font-w-600 mb-1">$100 per month</p>
                                        <p class="regular-text-dark font-w-600 mb-0">$10 per day</p>
                                        <span class="font-12 font-w-600">(in case your stay exceeds)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="servicebox pink_box p-4">
                            <div class="d-flex align-items-center">
                                <p class="mb-0 goldtag">Gold</p>
                                <a href="javascript:void(0);" class="text-white font-16 ml-auto addlable">+</a>
                            </div>
                            <div class="serviceimg">
                                <img src="assets/images/products/img_sofa1.png" class="img-fluid d-block mx-auto">
                            </div>
                            <div class="service-details pt-4">
                                <div class="row">
                                    <div class="col-7">
                                        <h5 class="box-title brand-color mb-1">Circle Sofa</h5>
                                        <p class="regular-text-dark">It is a long established fact that a reader</p>
                                    </div>
                                    <div class="col-5 pl-0">
                                        <p class="regular-text-dark font-w-600 mb-1">$100 per month</p>
                                        <p class="regular-text-dark font-w-600 mb-0">$10 per day</p>
                                        <span class="font-12 font-w-600">(in case your stay exceeds)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                    <div ngxSlickItem class="slide px-3 pb-4">
                        <div class="servicebox purple_box p-4">
                            <div class="d-flex align-items-center">
                                <p class="mb-0 slivertag">Silver</p>
                                <a href="javascript:void(0);" class="text-white font-16 ml-auto addlable">+</a>
                            </div>
                            <div class="serviceimg">
                                <img src="assets/images/products/img_sofa1.png" class="img-fluid d-block mx-auto">
                            </div>
                            <div class="service-details pt-4">
                                <div class="row">
                                    <div class="col-7">
                                        <h5 class="box-title brand-color mb-1">Circle Sofa</h5>
                                        <p class="regular-text-dark">It is a long established fact that a reader</p>
                                    </div>
                                    <div class="col-5 pl-0">
                                        <p class="regular-text-dark font-w-600 mb-1">$100 per month</p>
                                        <p class="regular-text-dark font-w-600 mb-0">$10 per day</p>
                                        <span class="font-12 font-w-600">(in case your stay exceeds)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ngxSlickItem class="slide px-3 pb-4">
                        <div class="servicebox blue_box p-4">
                            <div class="d-flex align-items-center">
                                <p class="mb-0 goldtag">Gold</p>
                                <a href="javascript:void(0);" class="text-white font-16 ml-auto addlable">+</a>
                            </div>
                            <div class="serviceimg">
                                <img src="assets/images/products/img_sofa1.png" class="img-fluid d-block mx-auto">
                            </div>
                            <div class="service-details pt-4">
                                <div class="row">
                                    <div class="col-7">
                                        <h5 class="box-title brand-color mb-1">Circle Sofa</h5>
                                        <p class="regular-text-dark">It is a long established fact that a reader</p>
                                    </div>
                                    <div class="col-5 pl-0">
                                        <p class="regular-text-dark font-w-600 mb-1">$100 per month</p>
                                        <p class="regular-text-dark font-w-600 mb-0">$10 per day</p>
                                        <span class="font-12 font-w-600">(in case your stay exceeds)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ngxSlickItem class="slide px-3 pb-4">
                        <div class="servicebox pink_box p-4">
                            <div class="d-flex align-items-center">
                                <p class="mb-0 goldtag">Gold</p>
                                <a href="javascript:void(0);" class="text-white font-16 ml-auto addlable">+</a>
                            </div>
                            <div class="serviceimg">
                                <img src="assets/images/products/img_sofa1.png" class="img-fluid d-block mx-auto">
                            </div>
                            <div class="service-details pt-4">
                                <div class="row">
                                    <div class="col-7">
                                        <h5 class="box-title brand-color mb-1">Circle Sofa</h5>
                                        <p class="regular-text-dark">It is a long established fact that a reader</p>
                                    </div>
                                    <div class="col-5 pl-0">
                                        <p class="regular-text-dark font-w-600 mb-1">$100 per month</p>
                                        <p class="regular-text-dark font-w-600 mb-0">$10 per day</p>
                                        <span class="font-12 font-w-600">(in case your stay exceeds)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ngxSlickItem class="slide px-3 pb-4">
                        <div class="servicebox blue_box p-4">
                            <div class="d-flex align-items-center">
                                <p class="mb-0 goldtag">Gold</p>
                                <a href="javascript:void(0);" class="text-white font-16 ml-auto addlable">+</a>
                            </div>
                            <div class="serviceimg">
                                <img src="assets/images/products/img_sofa1.png" class="img-fluid d-block mx-auto">
                            </div>
                            <div class="service-details pt-4">
                                <div class="row">
                                    <div class="col-7">
                                        <h5 class="box-title brand-color mb-1">Circle Sofa</h5>
                                        <p class="regular-text-dark">It is a long established fact that a reader</p>
                                    </div>
                                    <div class="col-5 pl-0">
                                        <p class="regular-text-dark font-w-600 mb-1">$100 per month</p>
                                        <p class="regular-text-dark font-w-600 mb-0">$10 per day</p>
                                        <span class="font-12 font-w-600">(in case your stay exceeds)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>

<!-- Cleaning services -->
<section class="contentSections addition-services">
    <div class="container pt-5 pb-4">
        <div class="content-head">
            <h3 class="heading-centered">Add Cleaning Services</h3>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-lg-11">
                <!-- <div class="row">
                    <div class="col-lg-4">
                        <div class="servicebox purple_box p-4">
                            <div class="serviceimg">
                                <img src="assets/images/products/ic_broom_home_details.png"
                                    class="img-fluid d-block mx-auto">
                            </div>
                            <div class="service-details pt-4">
                                <div class="row">
                                    <div class="col-7">
                                        <h5 class="box-title brand-color mb-1">Sweeping</h5>
                                        <p class="regular-text-dark">It is a long established fact that a reader</p>
                                    </div>
                                    <div class="col-5 pl-0">
                                        <p class="regular-text-dark font-w-600 mb-1 text-right">$100</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="servicebox blue_box p-4">
                            <div class="serviceimg">
                                <img src="assets/images/products/ic_cleaning_home_details.png"
                                    class="img-fluid d-block mx-auto">
                            </div>
                            <div class="service-details pt-4">
                                <div class="row">
                                    <div class="col-7">
                                        <h5 class="box-title brand-color mb-1">Dusting</h5>
                                        <p class="regular-text-dark">It is a long established fact that a reader</p>
                                    </div>
                                    <div class="col-5 pl-0">
                                        <p class="regular-text-dark font-w-600 mb-1 text-right">$145</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                    <div ngxSlickItem class="slide px-3 pb-4">
                        <div class="servicebox purple_box p-4">
                            <div class="serviceimg">
                                <img src="assets/images/products/ic_broom_home_details.png"
                                    class="img-fluid d-block mx-auto">
                            </div>
                            <div class="service-details pt-4">
                                <div class="row">
                                    <div class="col-7">
                                        <h5 class="box-title brand-color mb-1">Sweeping</h5>
                                        <p class="regular-text-dark">It is a long established fact that a reader</p>
                                    </div>
                                    <div class="col-5 pl-0">
                                        <p class="regular-text-dark font-w-600 mb-1 text-right">$100</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ngxSlickItem class="slide px-3 pb-4">
                        <div class="servicebox blue_box p-4">
                            <div class="serviceimg">
                                <img src="assets/images/products/ic_cleaning_home_details.png"
                                    class="img-fluid d-block mx-auto">
                            </div>
                            <div class="service-details pt-4">
                                <div class="row">
                                    <div class="col-7">
                                        <h5 class="box-title brand-color mb-1">Dusting</h5>
                                        <p class="regular-text-dark">It is a long established fact that a reader</p>
                                    </div>
                                    <div class="col-5 pl-0">
                                        <p class="regular-text-dark font-w-600 mb-1 text-right">$145</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ngxSlickItem class="slide px-3 pb-4">
                        <div class="servicebox purple_box p-4">
                            <div class="serviceimg">
                                <img src="assets/images/products/ic_broom_home_details.png"
                                    class="img-fluid d-block mx-auto">
                            </div>
                            <div class="service-details pt-4">
                                <div class="row">
                                    <div class="col-7">
                                        <h5 class="box-title brand-color mb-1">Sweeping</h5>
                                        <p class="regular-text-dark">It is a long established fact that a reader</p>
                                    </div>
                                    <div class="col-5 pl-0">
                                        <p class="regular-text-dark font-w-600 mb-1 text-right">$100</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>

<!-- Location -->

<!-- Cleaning services -->
<section class="contentSections mapsection">
    <div class="container pt-5 pb-4">
        <div class="content-head">
            <h3 class="content-subheading text-left">Location</h3>
        </div>
        <div class="mapwrp relative">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.038815050435!2d75.8820250148451!3d22.726798633020692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396302bb81989727%3A0xba6777cbae4a36e1!2sConsagous%20Technologies%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1598590398414!5m2!1sen!2sin" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
            <div class="maplabel"><div class="maplabelinner"><i class="fas fa-home brand-color"></i></div></div>
        </div>
        <a routerLink="/payment" class="btn btn-brandcolor mt-5 d-flex align-items-center justify-content-center">Continue</a>
    </div>
</section>