<app-header></app-header>
<!-- ========= Header Close ========== -->
<!-- ======== Content Sections ======= -->
<section class="contentSections addition-services mobilehead-margin">
    <div class="container pt-5 pb-4">
        <div class="content-head">
            <h3 class="heading-centered text-left">Sofas</h3>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-lg-11 slider_padding">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="servicebox purple_box p-4">
                            <div class="d-flex align-items-center">
                                <p class="mb-0 slivertag">Silver</p>
                                <div class="ml-auto d-flex align-items-center">
                                    <a href="javascript:void(0);" class="text-white font-16 addlable">-</a>
                                    <a href="javascript:void(0);" class="text-white font-16 addlable ml-2">+</a>
                                </div>
                            </div>
                            <div class="serviceimg">
                                <img src="assets/images/products/img_sofa1.png" class="img-fluid d-block mx-auto">
                            </div>
                            <div class="service-details pt-4">
                                <div class="row">
                                    <div class="col-7">
                                        <h5 class="box-title brand-color mb-1">Circle Sofa</h5>
                                        <p class="regular-text-dark">It is a long established fact that a reader</p>
                                    </div>
                                    <div class="col-5 pl-0">
                                        <p class="regular-text-dark font-w-600 mb-1">$100 per month</p>
                                        <p class="regular-text-dark font-w-600 mb-0">$10 per day</p>
                                        <span class="font-12 font-w-600">(in case your stay exceeds)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="servicebox blue_box p-4">
                            <div class="d-flex align-items-center">
                                <p class="mb-0 goldtag">Gold</p>
                                <div class="ml-auto d-flex align-items-center">
                                    <a href="javascript:void(0);" class="text-white font-16 addlable">-</a>
                                    <a href="javascript:void(0);" class="text-white font-16 addlable ml-2">+</a>
                                </div>
                            </div>
                            <div class="serviceimg">
                                <img src="assets/images/products/img_sofa1.png" class="img-fluid d-block mx-auto">
                            </div>
                            <div class="service-details pt-4">
                                <div class="row">
                                    <div class="col-7">
                                        <h5 class="box-title brand-color mb-1">Circle Sofa</h5>
                                        <p class="regular-text-dark">It is a long established fact that a reader</p>
                                    </div>
                                    <div class="col-5 pl-0">
                                        <p class="regular-text-dark font-w-600 mb-1">$100 per month</p>
                                        <p class="regular-text-dark font-w-600 mb-0">$10 per day</p>
                                        <span class="font-12 font-w-600">(in case your stay exceeds)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="servicebox pink_box p-4">
                            <div class="d-flex align-items-center">
                                <p class="mb-0 goldtag">Gold</p>
                                <a href="javascript:void(0);" class="text-white font-16 ml-auto addlable">+</a>
                            </div>
                            <div class="serviceimg">
                                <img src="assets/images/products/img_sofa1.png" class="img-fluid d-block mx-auto">
                            </div>
                            <div class="service-details pt-4">
                                <div class="row">
                                    <div class="col-7">
                                        <h5 class="box-title brand-color mb-1">Circle Sofa</h5>
                                        <p class="regular-text-dark">It is a long established fact that a reader</p>
                                    </div>
                                    <div class="col-5 pl-0">
                                        <p class="regular-text-dark font-w-600 mb-1">$100 per month</p>
                                        <p class="regular-text-dark font-w-600 mb-0">$10 per day</p>
                                        <span class="font-12 font-w-600">(in case your stay exceeds)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- //////// -->
<section class="contentSections addition-services">
    <div class="container pt-5 pb-4">
        <div class="content-head">
            <h3 class="heading-centered text-left">Accent Chairs</h3>
        </div>
    </div>
    <div class="container-fluid pb-5">
        <div class="row justify-content-end">
            <div class="col-lg-11 slider_padding">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="servicebox pink_box p-4">
                            <div class="d-flex align-items-center">
                                <p class="mb-0 slivertag">Silver</p>
                                <div class="ml-auto d-flex align-items-center">
                                    <a href="javascript:void(0);" class="text-white font-16 addlable">-</a>
                                    <a href="javascript:void(0);" class="text-white font-16 addlable ml-2">+</a>
                                </div>
                            </div>
                            <div class="serviceimg">
                                <img src="assets/images/products/img_sofa1.png" class="img-fluid d-block mx-auto">
                            </div>
                            <div class="service-details pt-4">
                                <div class="row">
                                    <div class="col-7">
                                        <h5 class="box-title brand-color mb-1">Circle Sofa</h5>
                                        <p class="regular-text-dark">It is a long established fact that a reader</p>
                                    </div>
                                    <div class="col-5 pl-0">
                                        <p class="regular-text-dark font-w-600 mb-1">$100 per month</p>
                                        <p class="regular-text-dark font-w-600 mb-0">$10 per day</p>
                                        <span class="font-12 font-w-600">(in case your stay exceeds)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="servicebox purple_box p-4">
                            <div class="d-flex align-items-center">
                                <p class="mb-0 goldtag">Gold</p>
                                <div class="ml-auto d-flex align-items-center">
                                    <a href="javascript:void(0);" class="text-white font-16 addlable">-</a>
                                    <a href="javascript:void(0);" class="text-white font-16 addlable ml-2">+</a>
                                </div>
                            </div>
                            <div class="serviceimg">
                                <img src="assets/images/products/img_sofa1.png" class="img-fluid d-block mx-auto">
                            </div>
                            <div class="service-details pt-4">
                                <div class="row">
                                    <div class="col-7">
                                        <h5 class="box-title brand-color mb-1">Circle Sofa</h5>
                                        <p class="regular-text-dark">It is a long established fact that a reader</p>
                                    </div>
                                    <div class="col-5 pl-0">
                                        <p class="regular-text-dark font-w-600 mb-1">$100 per month</p>
                                        <p class="regular-text-dark font-w-600 mb-0">$10 per day</p>
                                        <span class="font-12 font-w-600">(in case your stay exceeds)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                    <div class="servicebox pink_box p-4">
                        <div class="d-flex align-items-center">
                            <p class="mb-0 slivertag">Silver</p>
                            <div class="ml-auto d-flex align-items-center">
                                <a href="javascript:void(0);" class="text-white font-16 addlable">-</a>
                                <a href="javascript:void(0);" class="text-white font-16 addlable ml-2">+</a>
                            </div>
                        </div>
                        <div class="serviceimg">
                            <img src="assets/images/products/img_sofa1.png" class="img-fluid d-block mx-auto">
                        </div>
                        <div class="service-details pt-4">
                            <div class="row">
                                <div class="col-7">
                                    <h5 class="box-title brand-color mb-1">Circle Sofa</h5>
                                    <p class="regular-text-dark">It is a long established fact that a reader</p>
                                </div>
                                <div class="col-5 pl-0">
                                    <p class="regular-text-dark font-w-600 mb-1">$100 per month</p>
                                    <p class="regular-text-dark font-w-600 mb-0">$10 per day</p>
                                    <span class="font-12 font-w-600">(in case your stay exceeds)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="servicebox purple_box p-4">
                        <div class="d-flex align-items-center">
                            <p class="mb-0 goldtag">Gold</p>
                            <div class="ml-auto d-flex align-items-center">
                                <a href="javascript:void(0);" class="text-white font-16 addlable">-</a>
                                <a href="javascript:void(0);" class="text-white font-16 addlable ml-2">+</a>
                            </div>
                        </div>
                        <div class="serviceimg">
                            <img src="assets/images/products/img_sofa1.png" class="img-fluid d-block mx-auto">
                        </div>
                        <div class="service-details pt-4">
                            <div class="row">
                                <div class="col-7">
                                    <h5 class="box-title brand-color mb-1">Circle Sofa</h5>
                                    <p class="regular-text-dark">It is a long established fact that a reader</p>
                                </div>
                                <div class="col-5 pl-0">
                                    <p class="regular-text-dark font-w-600 mb-1">$100 per month</p>
                                    <p class="regular-text-dark font-w-600 mb-0">$10 per day</p>
                                    <span class="font-12 font-w-600">(in case your stay exceeds)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel> -->
            </div>
        </div>
    </div>
</section>

<!-- Gallery section close -->