<div class="homebanner-section pt-3">
    <app-header></app-header>
    <div class="banner-content mt-5 d-flex align-items-center">
        <div class="container py-5">
            <div class="row pb-5">
                <div class="col-md-6 col-lg-5">
                    <h1 class="text-capitalize">Find perfect houses stay in peace</h1>
                    <p class="regular-text-dark mt-3">Contrary to popular belief, Lorem Ipsum is not simply random text.
                        It has roots in a piece of
                        classical Latin literature from 45</p>
                </div>
            </div>
        </div>
        <div class="bannerimg-layer">
            <img src="assets/images/pictures/img_hero_home.png" class="img-fluid">
        </div>
    </div>
    <div class="herosearch-bar">
        <div class="container">
            <div class="searhbarwrp">
                <div class="row">
                    <div class="col-4">
                        <div class="filterbox p-5">
                            <p class="font-22 regular-text-dark">Contact support (Email/Phone) for any issues dispute etc.</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="filterbox d-flex align-items-center p-5 rightseperator">
                            <img src="assets/images/icons/ic_email_get_in_touch.png" class="img-fluid">
                            <div class="pl-3">
                                <p class="font-20 regular-text-dark mb-1">Email</p>
                                <p class="brand-light font-w-300 mb-0">help@dryup.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="filterbox d-flex align-items-center p-5">
                            <img src="assets/images/icons/ic_email_get_in_touch.png" class="img-fluid">
                            <div class="pl-3">
                                <p class="font-20 regular-text-dark mb-1">Phone</p>
                                <p class="brand-light font-w-300 mb-0">+1 444 000 1234</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========= Banner Section Close ========== -->
<div class="bottom-contact-seperator mb-5"></div>