<app-header></app-header>
<!-- ========= Header Close ========== -->

<!-- ======== Content Sections ======= -->
<section class="contentSections product-images-gallery">
    <div class="container pt-5">
        <div class="row">
            <div class="col-8">
                <h4 class="content-subheading mb-0">Little white house 431 India St, London, UK</h4>
                <p class="regular-text-dark mb-0 features mt-2">4 bd <span>/</span> 3 ba
                    <span>/</span> 1470 sqft <span>/</span></p>
            </div>
            <div class="col-4">
                <h4 class="content-subheading brand-color mb-0 text-right">1850 <small class="font-13 text-lowercase">/
                        mo</small></h4>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="big_imgbox">
                    <img src="assets/images/pictures/img_home_details.png" class="img-fluid">
                </div>
            </div>
        </div>

        <!-- Details -->
        <div class="product-description py-4 mt-3">
            <h4 class="content-subheading">Cancel Reason</h4>
            <p class="regular-text-dark">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                in
                a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                Latin
                professor at Hampden-Sydney College in Virginia,</p>
            <p class="regular-text-dark">looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum
                passage, and going through the cites of the word in classical literature, discovered the undoubtable
                source.
                Lorem Ipsum comes from sections 1.</p>
        </div>
    </div>
</section>
<!-- Gallery section close -->

<!-- =========  Services Section  ========= -->
<!-- Location -->

<section class="contentSections p-0 payment-description-sec">
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-6">
                <h4 class="content-subheading mb-3">Refund Status</h4>
                <div class="col-md-8 mt-4">
                    <p class="regular-text-dark border-bottom pb-3">In Progress</p>
                </div>

                <h4 class="content-subheading mt-5">Refund Amount</h4>
                <div class="col-md-8 mt-4">
                    <p class="regular-text-dark border-bottom pb-3">$35</p>
                </div>

                <h4 class="content-subheading mt-5">Deducted Penalty Amount</h4>
                <div class="col-md-8 mt-4">
                    <p class="regular-text-dark border-bottom pb-3">$15</p>
                </div>

            </div>
            <div class="col-md-6 mt-5 mt-md-0">
                <div class="paymentinfo-box">
                    <div class="head px-3 py-4">
                        <p class="m-0 font-w-300 font-20">Card Details</p>
                    </div>
                    <div class="details px-4 py-5 border-bottom">
                        <ul>
                            <li class="d-flex">
                                <span class="font-w-500">Property booking amount</span>
                                <span class="ml-auto font-w-300">$150</span>
                            </li>
                            <li class="d-flex">
                                <span class="font-w-500">Property booking amount</span>
                                <span class="ml-auto font-w-300">$150</span>
                            </li>
                            <li class="d-flex">
                                <span class="font-w-500">Property booking amount</span>
                                <span class="ml-auto font-w-300">$150</span>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex px-4 foot">
                        <span class="font-w-500">Total</span>
                        <span class="ml-auto font-w-300">$235</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Cancel Booked Property Modal -->
<!-- Modal to add phone -->