<div class="homebanner-section pt-3">
    <app-header></app-header>
    <div class="banner-content mt-5 d-flex align-items-center">
        <div class="container py-5">
            <div class="row pb-5">
                <div class="col-md-6 col-lg-5">
                    <h1 class="text-capitalize">Find perfect houses stay in peace</h1>
                    <p class="regular-text-dark mt-3">Contrary to popular belief, Lorem Ipsum is not simply random text.
                        It has roots in a piece of
                        classical Latin literature from 45</p>
                </div>
            </div>
        </div>
        <div class="bannerimg-layer">
            <img src="assets/images/pictures/img_hero_home.png" class="img-fluid">
        </div>
    </div>
</div>
<!-- ========= Banner Section Close ========== -->

<section class="contentSections aboutcontent">
    <div class="container py-5">
        <h3 class="heading-centered text-left">Rated Booked Properties & Services</h3>
        <p class="font-20 font-w-300">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries,</p>
        <p class="font-20 font-w-300">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries,</p>

        <p class="font-20 font-w-300">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries,</p>
        <p class="font-20 font-w-300">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries,</p>
    </div>
</section>